Super Store US Data Analysis

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from datetime import datetime

In [4]:
df = pd.read_csv('Super_Store_US-2015.csv')

In [36]:
print (df.head())

   Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0   20847           High      0.01        2.84           0.93            3
1   20228  Not Specified      0.02      500.98          26.00            5
2   21776       Critical      0.06        9.48           7.29           11
3   24844         Medium      0.09       78.69          19.99           14
4   24846         Medium      0.08        3.28           2.31           14

       Customer Name       Ship Mode Customer Segment Product Category  ...  \
0      Bonnie Potter     Express Air        Corporate  Office Supplies  ...
1     Ronnie Proctor  Delivery Truck      Home Office        Furniture  ...
2      Marcus Dunlap     Regular Air      Home Office        Furniture  ...
3  Gwendolyn F Tyson     Regular Air   Small Business        Furniture  ...
4  Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...

    Region State or Province         City  Postal Code Order Date  Ship Date  \
0     West        Washington    Anacortes        98221   1/7/2015   1/8/2015
1     West        California  San Gabriel        91776  6/13/2015  6/15/2015
2     East        New Jersey      Roselle         7203  2/15/2015  2/17/2015
3  Central         Minnesota   Prior Lake        55372  5/12/2015  5/14/2015
4  Central         Minnesota   Prior Lake        55372  5/12/2015  5/13/2015

      Profit Quantity ordered new    Sales Order ID
0     4.5600                    4    13.01    88522
1  4390.3665                   12  6362.85    90193
2   -53.8096                   22   211.15    90192
3   803.4705                   16  1164.45    86838
4   -24.0300                    7    22.23    86838

[5 rows x 25 columns]

In [37]:
print(df.tail())

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
1947   19842           High      0.01       10.90           7.46         3397
1948   19843           High      0.10        7.99           5.03         3397
1949   26208  Not Specified      0.08       11.97           5.81         3399
1950   24911         Medium      0.10        9.38           4.93         3400
1951   25914           High      0.10      105.98          13.99         3403

      Customer Name    Ship Mode Customer Segment Product Category  ...  \
1947    Andrea Shaw  Regular Air   Small Business  Office Supplies  ...
1948    Andrea Shaw  Regular Air   Small Business       Technology  ...
1949    Marvin Reid  Regular Air   Small Business  Office Supplies  ...
1950  Florence Gold  Express Air   Small Business        Furniture  ...
1951  Tammy Buckley  Express Air         Consumer        Furniture  ...

       Region State or Province         City  Postal Code Order Date  \
1947  Central          Illinois     Danville        61832  3/11/2015
1948  Central          Illinois     Danville        61832  3/11/2015
1949  Central          Illinois  Des Plaines        60016  3/29/2015
1950     East     West Virginia     Fairmont        26554   4/4/2015
1951     West           Wyoming     Cheyenne        82001   2/8/2015

      Ship Date    Profit Quantity ordered new   Sales Order ID
1947  3/12/2015 -116.7600                   18  207.31    87536
1948  3/12/2015 -160.9520                   22  143.12    87536
1949  3/31/2015  -41.8700                    5   59.98    87534
1950   4/4/2015  -24.7104                   15  135.78    87537
1951  2/11/2015  349.4850                    5  506.50    87530

[5 rows x 25 columns]

print(df.corr()) will work only when everything in the data is integer if it also includes object means it can not make co-relation between them

In [38]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Discount              1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   object
 20  Ship Date             1952 non-null   object
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
dtypes: float64(6), int64(5), object(14)
memory usage: 381.4+ KB
None

In [39]:
#to find toal null values or blank values of each column in the excel sheet
print(df.isnull().sum())

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

In [40]:
df['Product Base Margin'].describe()

count    1936.000000
mean        0.515186
std         0.137055
min         0.350000
25%         0.380000
50%         0.525000
75%         0.590000
max         0.850000
Name: Product Base Margin, dtype: float64

In [41]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\lenovo\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [42]:
df['Product Base Margin'].value_counts()

Product Base Margin
0.37    174
0.38    142
0.36    140
0.59    132
0.39    122
0.56    105
0.40     94
0.57     91
0.58     82
0.55     78
0.60     69
0.35     62
0.52     38
0.74     28
0.62     25
0.41     25
0.83     25
0.43     24
0.64     24
0.46     22
0.48     21
0.44     21
0.79     21
0.77     20
0.78     20
0.42     19
0.68     19
0.54     18
0.66     18
0.81     18
0.75     17
0.65     17
0.49     17
0.50     15
0.76     15
0.61     14
0.69     13
0.80     12
0.53     12
0.71     12
0.51     12
0.63     11
0.73     11
0.45     11
0.82      9
0.47      9
0.72      8
0.67      7
0.84      6
0.70      6
0.85      5
Name: count, dtype: int64

In [43]:
#converting string to numeric value with the help of scikit-learn library using LabelEncoder function
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Product Base Margin']=le.fit_transform(df['Product Base Margin'])

In [5]:
df.shape

(1952, 25)

In [46]:
# filling null values for column Product Base Margin
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
df.pbm = imputer.fit_transform(df['Product Base Margin'].values.reshape(-1,1))

In [47]:
print(df)

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1947   19842           High      0.01       10.90           7.46         3397
1948   19843           High      0.10        7.99           5.03         3397
1949   26208  Not Specified      0.08       11.97           5.81         3399
1950   24911         Medium      0.10        9.38           4.93         3400
1951   25914           High      0.10      105.98          13.99         3403

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1947        Andrea Shaw     Regular Air   Small Business  Office Supplies
1948        Andrea Shaw     Regular Air   Small Business       Technology
1949        Marvin Reid     Regular Air   Small Business  Office Supplies
1950      Florence Gold     Express Air   Small Business        Furniture
1951      Tammy Buckley     Express Air         Consumer        Furniture

      ...   Region State or Province         City  Postal Code Order Date  \
0     ...     West        Washington    Anacortes        98221   1/7/2015
1     ...     West        California  San Gabriel        91776  6/13/2015
2     ...     East        New Jersey      Roselle         7203  2/15/2015
3     ...  Central         Minnesota   Prior Lake        55372  5/12/2015
4     ...  Central         Minnesota   Prior Lake        55372  5/12/2015
...   ...      ...               ...          ...          ...        ...
1947  ...  Central          Illinois     Danville        61832  3/11/2015
1948  ...  Central          Illinois     Danville        61832  3/11/2015
1949  ...  Central          Illinois  Des Plaines        60016  3/29/2015
1950  ...     East     West Virginia     Fairmont        26554   4/4/2015
1951  ...     West           Wyoming     Cheyenne        82001   2/8/2015

      Ship Date     Profit Quantity ordered new    Sales Order ID
0      1/8/2015     4.5600                    4    13.01    88522
1     6/15/2015  4390.3665                   12  6362.85    90193
2     2/17/2015   -53.8096                   22   211.15    90192
3     5/14/2015   803.4705                   16  1164.45    86838
4     5/13/2015   -24.0300                    7    22.23    86838
...         ...        ...                  ...      ...      ...
1947  3/12/2015  -116.7600                   18   207.31    87536
1948  3/12/2015  -160.9520                   22   143.12    87536
1949  3/31/2015   -41.8700                    5    59.98    87534
1950   4/4/2015   -24.7104                   15   135.78    87537
1951  2/11/2015   349.4850                    5   506.50    87530

[1952 rows x 25 columns]

In [7]:
df['Product Base Margin'].value_counts()  # print(df.median())

Product Base Margin
0.37    174
0.38    142
0.36    140
0.59    132
0.39    122
0.56    105
0.40     94
0.57     91
0.58     82
0.55     78
0.60     69
0.35     62
0.52     38
0.74     28
0.62     25
0.41     25
0.83     25
0.43     24
0.64     24
0.46     22
0.48     21
0.44     21
0.79     21
0.77     20
0.78     20
0.42     19
0.68     19
0.54     18
0.66     18
0.81     18
0.75     17
0.65     17
0.49     17
0.50     15
0.76     15
0.61     14
0.69     13
0.80     12
0.53     12
0.71     12
0.51     12
0.63     11
0.73     11
0.45     11
0.82      9
0.47      9
0.72      8
0.67      7
0.84      6
0.70      6
0.85      5
Name: count, dtype: int64

In [6]:
df.dtypes

Row ID                    int64
Order Priority           object
Discount                float64
Unit Price              float64
Shipping Cost           float64
Customer ID               int64
Customer Name            object
Ship Mode                object
Customer Segment         object
Product Category         object
Product Sub-Category     object
Product Container        object
Product Name             object
Product Base Margin     float64
Country                  object
Region                   object
State or Province        object
City                     object
Postal Code               int64
Order Date               object
Ship Date                object
Profit                  float64
Quantity ordered new      int64
Sales                   float64
Order ID                  int64
dtype: object

In [48]:
print(df.isnull().sum())

Row ID                  0
Order Priority          0
Discount                0
Unit Price              0
Shipping Cost           0
Customer ID             0
Customer Name           0
Ship Mode               0
Customer Segment        0
Product Category        0
Product Sub-Category    0
Product Container       0
Product Name            0
Product Base Margin     0
Country                 0
Region                  0
State or Province       0
City                    0
Postal Code             0
Order Date              0
Ship Date               0
Profit                  0
Quantity ordered new    0
Sales                   0
Order ID                0
dtype: int64

In [49]:
df = pd.DataFrame(df,columns=['Row ID','Order Priority','Discount','Unit Price','Shipping Cost','Customer ID','Customer Name',
                              'Ship Mode','Customer Segment','Product Category','Product Sub-Category','Product Container',
                             'Product Name','Product Base Margin','Country','Region','State or Province','City','Postal Code',
                             'Order Date','Ship Date','Profit','Quantity ordered new','Sales','Order ID']).to_csv('Super_Store_Data_Analysis-2015.csv')